.img-logo{
    width: 70px;
}
.carousel-inner{
    margin:auto;
    max-height: 70vh !important;
}
.span{
    color: black;
    font-size: 23px;
}

.row{
    overflow: hidden;
}

@media (min-width: 900px) {
    .carousel-caption{
    top: 10.25rem;
}
}
.img-tienda{
    height: 400px;
}

.img-carrito{
    width: 30px;
    height: 30px;
}


.carrito{
    margin-top: -999999px;
    width: 0px;
    
} 
.verCarrito{
    position: absolute;
    z-index: 9900;
    right: 10%;
    border:none;
    background: none;
}
.carritopng{
    width: 30px;
}


.ver-carrito{
    position: absolute;
    display: block;
    top: 20vh;
    left: 20vw;
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: blanchedalmond;
    z-index: 800;
    transition: all ease 1s ;
    
}